html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* COOKIES BANNER */
.cookies-banner-container {
    max-width: 100%;
    width: 100%;
    /*height: fit-content;*/
    background-color: hsl(190deg 5.28% 3.13% / 80%);
    /*font-family: "Lexend Deca";*/
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    /* line-height: 27px;*/
    /*font-size: 18px;*/
    font-size: 0.8rem;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cookies-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0rem;
    height: 100%;
}

    .cookies-banner .cookies-banner__info-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
    }

.cookies-banner__terms-and-policy {
    font-weight: 400;
    color: inherit;
}

.cookies-banner__accept-btn > :is(button) {
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 25px;
    background-color: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .cookies-banner__accept-btn > :is(button):hover {
        background-color: #cee1e5;
        color: #246c7a;
    }

@media (max-width: 768px) {
    .cookies-banner-container {
        height: 300px;
    }

    .cookies-banner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1.5rem;
    }

        .cookies-banner .cookies-banner__info-text {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
}
 